<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../assets/img/icon/icon.ico" />
        <link rel="stylesheet" href="../assets/vendor/bootstrap.min.css" />
        <link rel="stylesheet" href="../assets/css/styles.css" />
        <title>FP Santurtzi LH - Erregistratu</title>
    </head>

    <body class="d-flex justify-content-center align-items-center body-login">
        <div class="register-container">
            <img class="mb-4 mx-auto d-block" src="../assets/img/logo/FPSanturtzi_Logo.png" alt="FP Santurtzi Logo" style="max-width: 180px;" />

            <form action="#" method="POST"> 
                
                <div class="mb-3">
                    <label for="name" class="form-label">Izena:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Zure Izena" required>
                </div>

                <div class="mb-3">
                    <label for="surname" class="form-label">Abizena:</label>
                    <input type="text" class="form-control" id="surname" name="surname" placeholder="Zure Abizena" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email-a:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="adibidea@fpsanturtzilh.eus" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Pasahitza:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="********" required>
                </div>

                <div class="mb-4">
                    <label for="confirm_password" class="form-label">Pasahitza berretsi:</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="********" required>
                </div>

                <button type="submit" class="btn btn-primary">Erregistratu</button>
            </form>
        </div>
        <script src="../assets/vendor/bootstrap.min.js"></script>
    </body>
</html>