.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    
}



th{
    background-color: #BBD0EA !important;
}

.btn {
    background-color: #224461;
    border-color: #224461;
    color: white;
}

.btn:hover {
    background-color: #021b31;
    border-color: #021b31;
    
}

.btnIkusi,.btnEditatu{
    border-color: #2d5980 !important;
    background-color: #2d5980;
    color: white;
}

.btnIkusi:hover, .btnEditatu:hover{
    border-color: black !important;
    background-color: black !important;
    color: white;
}