.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    
}

th{
    background-color: #BBD0EA !important;
}

.btnIkusi {
    border-color: #2d5980 !important;
    background-color: #2d5980;
    color: white;
}

.btnIkusi:hover, .btnIkusi:focus, .btnIkusi:focus-visible {
    border-color: #152838 !important;
    background-color: #152838 !important;
    color: white !important;
}

.btnEditatu {
    border-color: #4b779e !important;
    background-color: #4b779e;
    color: white;
}

.btnEditatu:hover, .btnEditatu:focus, .btnEditatu:focus-visible{
    border-color: #083b68 !important;
    background-color: #083b68 !important;
    color: white !important;
}