.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    
}

th{
    background-color: #BBD0EA !important;
}

.btnIkusi,.btnEditatu{
    border-color: #2d5980 !important;
    background-color: #2d5980;
    color: white;
}

.btnIkusi:hover, .btnEditatu:hover{
    border-color: black !important;
    background-color: black !important;
    color: white;
}
.contenedorEtiketa {
    
}