/* Font-a inportatzen*/
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
}

/* ----------- */

/* GENERAL */
html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
}

/* --------- */

/* MODALAK ETA BOTOIAK (GENERALA) */
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;

}

th {
    background-color: #BBD0EA !important;
}

.btnIkusi {
    border-color: #2d5980 !important;
    background-color: #2d5980;
    color: white;
}

.btnIkusi:hover,
.btnIkusi:focus,
.btnIkusi:focus-visible {
    border-color: #152838 !important;
    background-color: #152838 !important;
    color: white !important;
}

.btnEditatu {
    border-color: #4b779e !important;
    background-color: #4b779e;
    color: white;
}

.btnEditatu:hover,
.btnEditatu:focus,
.btnEditatu:focus-visible {
    border-color: #083b68 !important;
    background-color: #083b68 !important;
    color: white !important;
}

.btnEtiketatu {
    border-color: #389ba3 !important;
    background-color: #389ba3;
    color: white;
}

.btnEtiketatu:hover,
.btnEtiketatu:focus,
.btnEtiketatu:focus-visible {
    border-color: #2c787e !important;
    background-color: #2c787e !important;
    color: white !important;
}

.modal-content {
    max-height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
}

.modal-body {
    overflow-y: auto;
    max-height: 550px;
}

.table-scroll-container {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: auto;
}

.table-scroll-container .table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

@media (max-width: 768px) {
    .modal-dialog {
        margin: 20px 1rem 40px 1rem !important;
    }

    .modal-content {
        max-height: calc(100vh - 160px);
        display: flex;
        flex-direction: column;
    }

    .modal-body {
        overflow-y: auto;
        max-height: 350px;
    }
}

/* ------------- */

/* INDEX */
.body-index {
    background-image: url("../img/background_login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.container-index {
    margin-top: 10rem;
    margin-bottom: 20rem;

}

/* ----------- */

/* HEADER */
.btnPerf {
    background-color: #0b5ed7 !important;
    border: none !important;
}

.btnPerf:hover {
    background-color: #064ab1 !important;
}

header .navbar {
    background-color: white !important;
    box-shadow: 0px 0px 8px 0px #000000 !important;
    z-index: 9999 !important;
    transition: 500ms;
}

header .navbar:hover,
header .navbar:focus {
    box-shadow: 0px 0px 20px 0px #000000 !important;
}

header .index-navbar {
    background-color: white !important;
    box-shadow: 0px 0px 8px 0px #000000 !important;
    z-index: 9999 !important;
    transition: 500ms;
}

.nav-item {
    transition: 300ms;
    padding: 0rem 0.8rem;
}

.nav-item a {
    color: #3e6484;
    transition: 300ms;
    font-weight: bold;
    font-size: 1rem;
}

.nav-item:hover,
.nav-item:focus {
    background-color: #3e6484;
    border-radius: 3px;
}

.nav-item:hover a,
.nav-item:focus a {
    color: white;
}

.navbar-toggler {
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.hamburger-lines {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    display: block;
    height: 3px;
    width: 100%;
    background: #3e6484;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    margin-right: 0.5rem;
}

.navbar-toggler:not(.collapsed) .line1 {
    transform: translateY(8px) rotate(45deg);
}

.navbar-toggler:not(.collapsed) .line2 {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) .line3 {
    transform: translateY(-8px) rotate(-45deg);
}

.navbar-nav:last-child {
    display: flex;
    align-items: center;
}

.nav-item.perfil {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.perfil {
    border-radius: 100px;
    transition: box-shadow 500ms;
    cursor: pointer;
}

.perfil:hover,
.perfil:focus,
.perfil:active {
    box-shadow: 0px 0px 0px 5px #3e6484;

}

.perfil img {
    width: auto;
    height: 50px;
    display: block;
}

.profile-menu-box {
    position: absolute;
    top: 100%;
    right: 0;
    width: 220px;
    z-index: 1050;
    display: none;
    margin-top: 10px;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform-origin: top right;
}

.profile-menu-box.show {
    display: block;
    opacity: 1;
    transform: scale(1);
}

.profile-toggle img {
    cursor: pointer;
}

.x-cerrar-pront {
    transition: 300ms;
}

.x-cerrar-pront:hover {
    color: red;
}

@media (max-width: 991.98px) {
    .nav-item.perfil {
        display: none;
    }
}

/* ----------- */

/* FOOTER */
footer {
    background-color: #224461;
}

footer a.text-white-50:hover {
    color: white !important;
}

.btn-social {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.social-icons a {
    text-decoration: none !important;
}

.btn-social:hover {
    background-color: white !important;
    color: #000000 !important;
}

/* ----------- */

/* LOGIN */
.body-login {
    background-image: url("../img/background_login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.login-container {
    max-width: 400px;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 90%;
}

.form-label {
    font-weight: 500;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    margin-top: 15px;
}

.text-center a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    .login-container {
        width: 95%;
        padding: 30px;
        box-shadow: none;
    }

    .body-login {
        align-items: flex-start;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}

/* ----------- */


/* REGISTER */
.register-container {
    width: 35%;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

@media (max-width: 576px) {
    .register-container {
        width: 95%;
        padding: 20px;
        box-shadow: none;
    }
}

/* ----------- */

/* HOME */
.container-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/background_login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.title-home {
    letter-spacing: 5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.subtitle-home {
    color: #7cc4ff;
}

.btnHome {
    background-color: #224461;
    font-size: 1.2rem;
    color: white;
    transition: 300ms;
}

.btnHome:hover {
    background-color: #142738 !important;
}

/* ------------- */

/* PERFIL */
.container-carta {
    background-color: #f8f9fa;
}

.nombre-perfil img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

/* ------------- */

/* EROSKETAK */
.erosketak {
    border-bottom: none;
}

.erosketak .active {
    color: black !important;
}

.erosketak .active i {
    color: black !important;
}

.erosketak .nav-link {
    color: rgb(165, 165, 165);
    background-color: white;
    transition: 300ms;
}

.erosketak .nav-link i {
    color: rgb(165, 165, 165);
    transition: 300ms;
}

.erosketak .nav-link:hover {
    color: black;
}

.erosketak .nav-link:hover>i {
    color: black;
}

.radius-inferior-5 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.card-erosketak {
    background-color: #00000000 !important;
}

.tab-content {
    background-color: white;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.tab-list-custom.flex-column li {
    width: 100%;
}

.tab-list-custom.flex-column .nav-link {
    width: 100%;
    text-align: center;
    border-radius: 0;
    margin-bottom: -1px;
}

.tab-list-custom.flex-column .nav-link.active {
    border-color: #dee2e6;
}

.erosketak .btn-superior-erosketak button {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.erosketak .nav-link {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.erosketak .nav-link {
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
}

@media (min-width: 768px) {
    .erosketak .nav-link {
        border-bottom: 1px solid rgb(165, 165, 165);
        border-radius: 0px !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .erosketak .btn-superior-erosketak button {
        border-top-right-radius: 0px !important;
    }

    .erosketak .btn-inferior-erosketak button {
        border-top-right-radius: 10px !important;
    }

    .tab-list-custom.flex-md-row li {
        width: auto;
    }

    .tab-list-custom.flex-md-row .nav-link {
        width: 100%;
        text-align: center;
        /* border-radius: 0.5rem 0.5rem 0 0 !important;  */
    }

    .tab-list-custom.flex-md-row .nav-link.active {
        border-color: #dee2e6 #dee2e6 #fff;
    }
}

/* ------------- */

/* INBENTARIOA */
#tabla-inbentarioa thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

/* ------------ */

/* EKIPOAK */
#tabla-ekipoak thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

/* ------------ */

/* BOTONES */
.btnEditatu {
    transition: 300ms;
}

.btnIkusi {
    transition: 300ms;
}

.btnEzabatu {
    background-color: rgb(197, 0, 0) !important;
    border: none;
    transition: 300ms;
}

.btnEzabatu:hover {
    background-color: rgb(129, 0, 0) !important;
}

/* ------------- */

/* BILATU */
.bilatuInput {
    transition: 300ms;
}

.bilatuInput:focus {
    border-color: #BBD0EA;
    box-shadow: 0 0 0 4px #bbd0ea7c;
}

.input-group-text {
    background-color: #bbd0ea94;
}

/* ---------- */

/* SUMAR */
.btnSumar {
    border-radius: 100px;
    padding: 10px 15px;
    transition: 300ms;
    background-color: #2d5980 !important;
    color: white !important;
}

.btnSumar:hover,
.btnSumar:focus {
    background-color: #0c1b29 !important;
    color: white !important;
}

.btnSumar:focus-visible {
    background-color: #224461 !important;
    border-color: #224461 !important;
    color: white !important;
}

/* ---------- */

/* BOTOIA */
.btnSaiItx {
    background-color: rgb(228, 56, 56) !important;
    border: none !important;
    transition: 300ms;
}

.btnSaiItx:hover {
    background-color: rgb(187, 32, 32) !important;
}

.theme-icon {
    content: "\f186";
}

/* --------- */
/* SPAN */
.mensajeError{
    display: none;
    text-align: center;
    background-color: rgb(255, 155, 155);
    color: rgb(82, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(82, 0, 0);
}

.mensajeSuccess{
    display: none;
    text-align: center;
    background-color: rgb(163, 255, 155);
    color: rgb(0, 82, 4);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(0, 82, 4);
}
/* -------- */

/* ---------- MODO OSCURO ---------- */
body.dark-mode {
    background-color: #1a1a1a !important;
    color: #e0e0e0 !important;
}


body.dark-mode .bg-white,
body.dark-mode .card,
body.dark-mode .modal-content,
body.dark-mode header .navbar,
body.dark-mode .container-carta,
body.dark-mode .login-container,
body.dark-mode .register-container {
    background-color: #2a2a2a !important;
    color: #e0e0e0 !important;
}


body.dark-mode .text-dark {
    color: #f1f1f1 !important;
}

body.dark-mode .text-secondary,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode p {
    color: #d0d0d0 !important;
}


body.dark-mode .nav-item a {
    color: #a8c5e0 !important;
}

body.dark-mode .nav-item:hover,
body.dark-mode .nav-item:focus {
    background-color: #4a6d8f !important;
}

body.dark-mode .nav-item:hover a,
body.dark-mode .nav-item:focus a {
    color: white !important;
}


body.dark-mode table.table {
    background-color: #2a2a2a !important;
    color: #e0e0e0 !important;
}

body.dark-mode table.table thead th {
    background-color: #3d5a73 !important;
    color: #e8f1f8 !important;
    border-color: #444 !important;
}

body.dark-mode table.table tbody tr {
    background-color: #2a2a2a !important;
    border-color: #444 !important;
}

body.dark-mode table.table tbody tr:hover {
    background-color: #333 !important;
}

body.dark-mode table.table tbody td {
    background-color: transparent !important;
    color: #e0e0e0 !important;
    border-color: #444 !important;
}


body.dark-mode .table-scroll-container {
    background-color: #2a2a2a !important;
}


body.dark-mode input.form-control,
body.dark-mode textarea.form-control,
body.dark-mode select.form-select,
body.dark-mode select.form-control {
    background-color: #333 !important;
    color: #e0e0e0 !important;
    border-color: #555 !important;
}

body.dark-mode input.form-control:focus,
body.dark-mode textarea.form-control:focus,
body.dark-mode select.form-select:focus,
body.dark-mode select.form-control:focus {
    background-color: #3a3a3a !important;
    color: #e0e0e0 !important;
    border-color: #5a7a9a !important;
    box-shadow: 0 0 0 0.2rem rgba(90, 122, 154, 0.25) !important;
}


body.dark-mode .bilatuInput {
    background-color: #333 !important;
    color: #e0e0e0 !important;
    border-color: #555 !important;
}

body.dark-mode .bilatuInput:focus {
    background-color: #3a3a3a !important;
    border-color: #5a7a9a !important;
    box-shadow: 0 0 0 4px rgba(90, 122, 154, 0.3) !important;
}


body.dark-mode .input-group-text {
    background-color: #3d5a73 !important;
    color: #e0e0e0 !important;
    border-color: #555 !important;
}


body.dark-mode input:disabled,
body.dark-mode input.form-control:disabled,
body.dark-mode select:disabled,
body.dark-mode select.form-select:disabled {
    background-color: #1f1f1f !important;
    color: #888 !important;
    border-color: #444 !important;
}


body.dark-mode .form-label {
    color: #d0d0d0 !important;
}


body.dark-mode .profile-menu-box {
    background-color: #2a2a2a !important;
    border-color: #444 !important;
}


body.dark-mode .erosketak .nav-link {
    background-color: #2a2a2a !important;
    color: rgb(140, 140, 140) !important;
    border-color: #444 !important;
}

body.dark-mode .erosketak .nav-link:hover {
    color: #e0e0e0 !important;
}

body.dark-mode .erosketak .active {
    color: #e0e0e0 !important;
    background-color: #333 !important;
}

body.dark-mode .erosketak .active i {
    color: #e0e0e0 !important;
}

body.dark-mode .tab-content {
    background-color: #2a2a2a !important;
    border-color: #444 !important;
}


body.dark-mode footer {
    background-color: #1f1f1f !important;
}

body.dark-mode footer a.text-white-50:hover {
    color: #a8c5e0 !important;
}


body.dark-mode .contenedor,
body.dark-mode .container,
body.dark-mode .container-fluid {
    background-color: #1a1a1a !important;
}

body.dark-mode .color-ez{
    background-color: transparent !important;
}

body.dark-mode .bilatuInput::placeholder {
    color: #aaa !important;
    opacity: 1 !important;
}

body.dark-mode .btnIkusi {
    background-color: #ffffff !important;
    border-color: #4a6d8f !important;
    color: #ffffff !important;
}

body.dark-mode .theme-icon::before {
    content: "\f185";
    color: #000000  !important;
}
